.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.home_header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  align-items: center;
}
.home_right {
  display: flex;
  align-items: center;
}

.home_right p {
  margin-left: 20px;
  font-size: 15px;
  display: flex;
  align-items: center;
}
.home_right > svg {
  margin-left: 20px;
}
.home_body {
  flex: 1;
  display: flex;
  margin-top: 10%;
  flex-direction: column;
}
.home_body > img {
  object-fit: contain;
  height: 100px;
}
