.searchPage_header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  align-items: flex-start;
  padding: 30px;
  border-bottom: 1px solid lightgray;
}
.searchPage_header img {
  height: 50px;
  margin-right: 50px;
}
.searchPage_resultCount {
  color: #70757a;
  font-size: 14px;
}
.searchPage_result {
  margin: 40px 0px;
}
.searchPage_resultLink {
  display: flex;
  align-items: center;
}

.searchPage_resultImage {
  height: 50px;
  width: 50px;
  object-fit: contain;
  margin-right: 10px;
}
